{% extends "layout.html" %}
{% block main %}

<div class="row pt-5">
    <div class="col-lg-4 col-sm-12">
        <div class="card" id="login">
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Username</span>
                        <input type="text" class="form-control" value="admin" readonly="">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Password</span>
                        <input type="password" class="form-control" name="authorization" required="">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12"></div>
</div>

{% endblock %}
