{% extends "layout.html" %}
{% block main %}

{% if error %}
    <p class="alert-error">{{ error }}</p>
{% endif %}
<form action="{{ url_for('login') }}" method="post">
    <label for="username" class="form-label">Username</label>
    <input type="text" id="username" name="username" class="form-control" required value="admin" readonly>
    
    <label for="password" class="form-label">Password</label>
    <input type="password" id="password" name="password" class="form-control" required>
    
    <button>Login</button>
</form>

{% endblock %}
