{% extends "layout.html" %}
{% block main %}
<form action="/nominees" method="post">
    <!-- Example for Year 9 -->
    <div class="container mb-4">
        <h2>Year 9</h2>
        <div class="grid">
            {% for nominee in year9_nominees %}
            <div class="card">
                <img src="{{ url_for('static', filename='images/' + nominee.photo) }}" class="card-img-top" alt="Nominee Image">
                <div class="card-body">
                    <h5 class="card-title">{{ nominee.first_name }} {{ nominee.last_name }}</h5>
                    <input type="radio" name="year9" value="{{ nominee.id }}" required> Select
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Repeat similar blocks for other year levels -->

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
