{% extends "layout.html" %}
{% block main %}

<h2>Update Nominee</h2>

<form action="{{ url_for('update_nominee', nominee_id=nominee.id) }}" method="post" enctype="multipart/form-data">
    <label for="first_name" class="form-label">First Name</label>
    <input type="text" id="first_name" name="first_name" class="form-control" value="{{ nominee.first_name }}" required>

    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" id="last_name" name="last_name" class="form-control" value="{{ nominee.last_name }}" required>

    <label for="year_level" class="form-label">Year Level</label>
    <input type="number" id="year_level" name="year_level" class="form-control" value="{{ nominee.year_level }}" required>

    <label for="photo" class="form-label">Photo</label>
    <input type="file" id="photo" name="photo" class="form-control" accept="image/*">

    <button type="submit">Update Nominee</button>
</form>

{% endblock %}
